<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">


	<bean id="t1000" class="impl.robot.ModelT1000">
	
		<constructor-arg ref="sonyHead"></constructor-arg>
		<constructor-arg ref="sonyHand"></constructor-arg>
		<constructor-arg ref="toshibaLeg"></constructor-arg>

<!-- 			<constructor-arg value="silver" index="0" type="String"/> -->
<!-- 			<constructor-arg ref="sonyHand" index="1"/> -->
<!-- 			<constructor-arg ref="sonyHead" index="2"/> -->
<!-- 			<constructor-arg ref="sonyLeg" index="3"/> -->

<!-- 		<property name="hand" ref="toshibaHand"/>				 -->
<!-- 		<property name="head" ref="toshibaHead"/> -->
<!-- 		<property name="leg" ref="sonyLeg"/> -->
		
		
		
	</bean>

	<bean id="sonyHead" class="impl.sony.SonyHead"/>
	<bean id="sonyHand" class="impl.sony.SonyHand"/>
	<bean id="sonyLeg" class="impl.sony.SonyLeg"/>
	
	<bean id="toshibaHead" class='impl.toshiba.ToshibaHead'/>
	<bean id="toshibaHand" class='impl.toshiba.ToshibaHand'/>
	<bean id="toshibaLeg" class='impl.toshiba.ToshibaLeg'/>
</beans>
